<div class="footer-wrapper">

    <footer id="footer" class="">

        <div class="">

            <p class="">© 2019 dMcGaa: Stylin built with <a href="https://www.11ty.io/">11ty</a></p>

            {% include 'components/social-icons.njk' %}

        </div>

    </footer>

</div>
