---
layout: default
meta_title: Contact
meta_description: Contact page description
body_class: contact
title: Contact Us
---

<main id="main" class="">

    <section id="container-centre" class="">

        <h1 class="">{{ title }}</h1>

        <div class="content">

            <p>Tell us how great we are in the form below.</p>

            <form>
                <div class="">
                    <label class="" for="name">Name</label>
                    <input class="" id="name" type="text">
                </div>

                <div class="">
                    <label class="" for="email">Email</label>
                    <input class="" id="email" type="text">
                </div>

                <div class="">
                    <label class="" for="message">Message</label>
                    <textarea class="" id="message"></textarea>
                </div>
             
              <div class="">
                    <button class="" type="submit">Send message!</button>
              </div>
            </form>

    </section>

</main>
