---
layout: default
meta_title: Home
meta_description: Homepage description
body_class: home
title: Welcome to 11ty-Stylin
---

<main id="main" class="">

    <section id="container-centre" class="">

        <h1 class="">{{ title }}</h1>

        <div class="content">
            <p>A practice styling site built using <a href="https://www.11ty.io">11ty.io</a>.</p>

            <h2>Features</h2>

            <ul class="mb-12">
                <li>Gulp to watch and compile your SCSS</li>
            </ul>

        </div>

    </section>

</main>


